<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div>
    <h1 class="h1_title">Sorry! I am not smart enough to deal with leapers!</h1>
    <iframe src="https://giphy.com/embed/JSueytO5O29yM" class="div__gif__birthday" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/realitytvgifs-britney-spears-confused-funny-face-JSueytO5O29yM">via GIPHY</a></p>
  </div>
</body>
</html>
