<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div>
    <h1 class="h1_title">Only <%= @countdown_days %> days until your birthday!</h1>
    <iframe class="div__gif" src="https://giphy.com/embed/tXL4FHPSnVJ0A" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/kim-novak-tXL4FHPSnVJ0A">via GIPHY</a></p>
  </div>
</body>
</html>
