html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.audio {
  display: none;
}

.h1_title__birthday {
  font-size: 3em;
}

.form {
   margin-top: 20px;
   background: #c1fff9;
   padding: 50px;
   box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 6px 15px 0 rgba(0,0,0,0.19);
   border-radius: 10px;
}

select {
  height: 30px;
  width: 140px;
  font-size: 0.8em;
}


.h1_title {
  font-size: 1.5em;
  padding: 5px;
}

h2.label__title {
  font-size: 1em;
  margin-bottom: 15px;
  clear: both;
}

.input__form {
  width: 90%;
  height: 5%;
  margin-bottom: 10px;
}

.input__btn {
  display: block;
  width: 100px;
  height: 40px;
  font-size: 1.7em;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #00cbb7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #1a3c39;
}

.input__btn:active {
  box-shadow: 0 1px;
  transform: translateY(4px);
}

.div__gif {
  padding: 10px;
  width:80%;
  height:200px;
  border: black solid 3px;
}
.div__gif__birthday {
  border: none;
}


@media (min-width: 800px) {
  .form {
    margin: auto;
    margin-top: 30px;
    width: 50%;
  }

  .div__gif {
    padding: 2px;
    width:40%;
    height:380px;
    border: black solid 3px;
  }
  .div__gif {
    border: none;
  }

}
